# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3

# Secret Key
*.key

# Environment-specific settings
.env

# Media and Static files
media/

# Virtual environment
venv/
env/
*.egg-info/
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE-specific settings
.idea/

# Logs and crash reports
*.log
*.log.*
*.pid
*.seed
*.stackdump
core/

# Ignore pipenv and poetry specific files
Pipfile
Pipfile.lock
pyproject.toml
poetry.lock


# ----styles 
node_modules


# ---- extra files
todos.md 
notes.md