

{% extends 'main/main.html' %}

{% load static %}


{% block content %}
<div class=" flex-1 flex-grow flex items-center justify-center">
    <div class="p-6 bg-primaryColor rounded-lg shadow flex gap-4 flex-col   max-w-sm">
        <div class="flex-initial w-full h-full overflow-hidden">
            <img src="{% static 'main/images/auth-form-image.png' %}" alt="" >
        </div>
        <p class="text-center">
            A email has been sent with a reset password link.</p>
    </div>
</div>

    
{% endblock content %}
    
    