{% extends 'main/main.html' %}

{% load static %}


{% block content %}
<div class="flex-1 flex-grow flex items-center justify-center">
    <div class="form-container items-center">
        <div class="form-image">
            <img src="{% static 'main/images/auth-form-image.png' %}" alt="" >
        </div>
        <form action="{% url 'reset-password-complete' %}" class="form " method="POST" id="request-reset-password-form">
            {% csrf_token %}

            <div class="section__header text-center text-sectionHeaderMb">
                Reset Password
            </div>

            <div class="form-set">
                <div class="icon-label">
                    <i class="fa-regular fa-user"></i>
                </div>
                {{form.password}}
                <div class="password-toggler">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            {% if form.password.errors %}
                <p class="field-error">{{from.password.errors|join:", "}}</p>
            {% endif %}
            <p class="field-error hidden">Please enter a valid password, password must contain atleast one uppercase, lowercase, number and symbol</p>
                
            <div class="form-set">
                <div class="icon-label">
                    <i class="fa-regular fa-user"></i>
                </div>
                {{form.confirm_password}}
                <div class="password-toggler">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            {% if form.confirm_password.errors %}
                <p class="field-error">
                    {{from.confirm_password.errors|join:", "}}
                </p>
            {% endif %}
            <p class="field-error hidden">Your password must match</p>
                

            <button type="submit" class="btn btn-outline-dark" id="login_button">
                <div class="inner w-full bg-primaryColor">
                    Submit
                </div>
            </button>

        </form>
    </div>
</div>


{% block reset_password_complete_script %}
<script src="{% static 'main/js/utils/password-toggler.js' %}"></script>
<script type="module" src="{% static 'main/js/utils/password-validator.js' %}">
</script>
{% endblock reset_password_complete_script %}
{% endblock content %}
    