{% extends 'main/main.html' %}

{% load static %}


{% block content %}
<div class="flex-1 flex-grow flex items-center justify-center">
    <!-- ! fix this  -->
    <div class="form-container items-center">
        <div class="form-image">
            <img src="{% static 'main/images/forgot-password.png' %}" alt="forgot-password.png" >
        </div>
        <p>A email has been sent to your email address, please check your follow the link to reset you password. </p>
    </div>
</div>

    
{% endblock content %}
    