{% extends 'main/main.html' %}

{% load static %}

{% block title %} <title>Signup</title> {% endblock title %}

{% block content %}
<div class="flex-1 flex-grow flex items-center justify-center">

    <div class="form-container" >
        <div class="form-image">
            <img src="{% static 'main/images/signup.png' %}" alt="" >
        </div>
        <form action="{% url 'signup' %}" class="form" method="POST" id="signup-form">
            {% csrf_token %}

            <p class="form-header">Signup</p>

            <div class="form-set">
                <div class="icon-label">
                    <i class="fa-regular fa-user"></i>
                </div>
                {{form.email}}
            </div>
            {% if form.email.errors %}
                <p class="field-error">{{ form.email.errors|join:", "}}</p>
            {% endif %}
            <p class="field-error hidden">Please enter a valid email</p>
            

            <div class="form-set">
                <div class="icon-label">
                    <i class="fa-solid fa-lock"></i>
                </div>
                {{form.password}}
                <div class="password-toggler">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            {% if form.password.errors %}
            <p class="field-error">{{form.password.errors|join:", "}}</p>
            {% endif %}  
            <p class="field-error hidden">Please enter a valid password, password must contain atleast one uppercase, lowercase, number and symbol</p>
            
            <div class="form-set">
                <div class="icon-label">
                    <i class="fa-solid fa-lock"></i>
                </div>
                {{form.confirm_password}}
                <div class="password-toggler">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            {% if form.confirm_password.errors %}
                <p class="field-error">
                    {{ form.confirm_password.errors|join:", "}}
                </p>
            {% endif %}
            <p class="field-error hidden">
                Password and Confirm Password must match
            </p>

            <button type="submit" class="btn btn-outline-dark" id="signup_button">
                <div class="inner w-full bg-primaryColor">
                    Submit
                </div>
            </button>
            <p class="text-smMb md:text-sm font-thin -mt-2">
                already have a account? 
                <a href="{% url 'signin' %}" class="text-accentColor font-normal">signin</a>
            </p>
        </form>
    </div>
</div>


{% block script_signup %}
<script type="module" src="{% static 'main/js/utils/password-validator.js' %}">
</script>
<script src="{% static 'main/js/utils/password-toggler.js' %}"></script>
{% endblock script_signup %}
    
{% endblock content %}

    







