{% extends 'main/main.html' %}

{% load static %}

{% block title %} <title>Signin</title> {% endblock title %}

{% block content %}
    <div class="flex-1 flex-grow flex items-center justify-center">

        <div class="form-container" >
            <div class="form-image">
                <img src="{% static 'main/images/auth-form-image.png' %}" alt="" >
            </div>
            <form action="{% url 'signin' %}" class="form" method="POST" id="login-form">
                {% csrf_token %}
    
                <p class="form-header">Signin</p>
    
                <div class="form-set">
                    <div class="icon-label">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    {{form.email}}
                </div>
                {% if form.email.errors %}
                    <p class="field-error">
                        {{form.email.errors|join:", "}}
                    </p>
                {% endif %}
                <p class="field-error hidden">Please enter a valid email</p>
                
                <div class="form-set">
                    <div class="icon-label">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    {{form.password}}
                    <div class="password-toggler">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
                {% if form.password.errors %}
                    <p class="field-error">
                        {{form.password.errors|join:", "}}
                    </p>
                {% endif %}
                <p class="field-error hidden">Password field must not be empty</p>
   
                <a href="{% url 'request-reset-password' %}" class="reset-link">
                    forgot your password?
                </a>
    
                <button type="submit" class="btn btn-outline-dark" id="login_button">
                    <div class="inner w-full bg-primaryColor">
                        Submit
                    </div>
                </button>
                <p class="auth-link">
                    don't have a account yet? 
                    <a href="{% url 'signup' %}">signup</a>
                </p>
            </form>
        </div>
    </div>

    {% block login_script %}
    <script src="{% static 'main/js/utils/email-validator.js' %}"></script>
    <script src="{% static 'main/js/utils/password-toggler.js' %}">
    </script>
    <script src="{% static 'main/js/components/signin-form.js' %}"></script>

    {% endblock login_script %}
{% endblock content %}


    
    