{% extends 'emails/base-emails.html' %}


{% block content %}
<section style="margin: 2rem 0;">
    <strong>Hi {% if user.profile.get_fullname %}{{ user.profile.get_fullname }}{% else %}{{ user.email }}{% endif %}</strong>
    <p>
        You're receiving this message because you've request to reset your password, if so click the link below to continue resetting you're password or ignore if you haven't made any request:
    </p>
    <div style="width: 100%; margin: 4rem 0; display: flex;flex-direction: column; align-items: center;justify-content: center;">
        <a href="{{ protocol }}://{{ domain }}{% url 'reset-password-confirm' slug=slug token=token %}" style="padding: .8rem 1.5rem;background-color: var(--font-color);color: var(--main-color);border-radius: .5rem; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); margin: 0 auto;">
            Reset Password
        </a>
    </div>
</section>
    
{% endblock content %}
    