<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    {% block title %}<title>Plan Nepal</title>{% endblock title %}
        
    
    {% block icon_cdns %}
    <!-- add icons style sheet -->
        
    {% endblock icon_cdns %}

    
    {% block stylesheet %}
        
    {% endblock stylesheet %}
        

        

</head>
<body>
    
    {% block main %}
        
    {% endblock main %}

</body>
</html>