@layer components {
  .tooltip {
    @apply relative;

    .tooltip-text {
      @apply invisible text-xs font-light absolute whitespace-nowrap shadow rounded bg-fontColorAccent text-main py-1 px-2 top-0 left-2/4 transform -translate-y-[150%] -translate-x-2/4;
    }

    .tooltip-text::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translateX(-50%);

      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }
}
